.main-header{
    padding-bottom: 63%;
    width: 100%;
    background-size: cover;
    background-image: url(/assets/main.png);
    background-attachment: fixed;
}

.main-header img {
    display: block;
    margin: 0 auto;
    width: 25%;
    padding-top: 15%;
}

footer {
  width: 100%;
  background-color:#555;
  color: white;
  margin: auto;
  font-size: 12px;
  line-height:10px;
  bottom: 0;
  position: absolute;
}