header {
  width: 100%;
  background-color: #2c3e50;
  height: 54px;
}

header ul {
  margin: 0 auto;
  list-style: none;
}

header ul a {
  display: block;
  padding: 15px;
  text-decoration: none;
  color: white;
}

header li {
  float: left;
  width: auto;
}

header ul:after {
  content: "";
  display: block;
  clear: both;
}

footer {
    width: 100%;
    background-color: #555;
    color: white;
    margin: auto;
    font-size: 12px;
    line-height: 10px;
    bottom: 0;
    position: absolute;
}

.footer{
  margin-top: 50px;
}

p.footer{
  margin-top: 20px;
  margin-bottom: 20px;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  text-align: center;
  margin:auto;
}

.text-uppercase{
    text-transform: uppercase !important; 
}